In [2]:
import pandas as pd

# Replace 'your_file.csv' with the path to your actual CSV file
file_path = "C:\\Users\\Musae\\Documents\\GitHub-REPOs\\Senior-project_Doc\\Docs\\Riyadh_Daily_2018_12_01_2023_12_31.xlsx"

# Read the .xlsx file into a DataFrame
df = pd.read_excel(file_path)

In [5]:
df

      YEAR  MO  DY  Temp_Max  Temp_Min  PRECTOTCORR
0     2018  12   1     26.94     13.25         0.00
1     2018  12   2     26.61     14.68         0.00
2     2018  12   3     26.01     11.83         0.00
3     2018  12   4     23.40     10.94         0.00
4     2018  12   5     27.00     13.03         0.00
...    ...  ..  ..       ...       ...          ...
1852  2023  12  27     24.90     10.90         0.00
1853  2023  12  28     25.84     11.87         0.00
1854  2023  12  29     17.94     12.80        18.71
1855  2023  12  30     22.75     10.73         0.02
1856  2023  12  31     22.79     12.59         0.81

[1857 rows x 6 columns]

In [6]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame

# Combine YEAR, MO, DY into a date string column
df['DATE_STR'] = df['YEAR'].astype(str) + '-' + df['MO'].astype(str).str.zfill(2) + '-' + df['DY'].astype(str).str.zfill(2)

# Convert the date string column to datetime
df['DATE'] = pd.to_datetime(df['DATE_STR'], format='%Y-%m-%d')

# Set DATE as the index
df.set_index('DATE', inplace=True)

# Exclude non-numeric columns before resampling and aggregating
numeric_df = df.select_dtypes(include=[np.number])

# Group by year and month, then calculate the mean for numeric columns
monthly_averages = numeric_df.resample('M').mean()

# Prepare data for the new DataFrame
data = []
for date, row in monthly_averages.iterrows():
    year_month = date.strftime('%Y/%m')
    temp_avg = (row.get('Temp_Max', 0) + row.get('Temp_Min', 0)) / 2
    prectotcorr_avg = row.get('PRECTOTCORR', 0)
    data.append([year_month, temp_avg, prectotcorr_avg])

# Create a new DataFrame
monthly_averages_df = pd.DataFrame(data, columns=['Year/Month', 'Temp Average', 'PRECTOTCORR Average'])

# Save the new DataFrame to a CSV file
csv_file_path = 'monthly_averages_formatted.csv'
monthly_averages_df.to_csv(csv_file_path, index=False)

print(f'Monthly averages saved to {csv_file_path}')

Monthly averages saved to monthly_averages_formatted.csv

C:\Users\Musae\AppData\Local\Temp\ipykernel_27272\3737066825.py:19: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_averages = numeric_df.resample('M').mean()